.img-logo{
    text-align: center;
    margin-top: 40px;
}
.text-tutorial{
    width: 50%;
    margin-top: 40px;
}
.text-bishbosh{
    padding-top: 40px;;
}
.text-output{
    text-align: center;
}
footer{
    color: black;
    text-align: center;
    padding: 5px;
}
@media (max-width: 767px) {
.text-tutorial{
    width:100%
}
}